<%= render "shared/header" %>

<div class="top-contents-new">
  <%= link_to :root do %>
    <button class="back-btn">戻る</button>
  <% end %>
  <div class="exams-index">
    <h2>試験問題の更新する</h2>
  </div>
  <br>
  <div class="exams-lists">
    <%= render 'form', exam: @exam %>
  </div>
</div>